<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Raspberry NodeJS Server
        link(rel="stylesheet", href="/css/main.css")
    body
        div.main_container
            h1 Raspberry NodeJS Server
            hr
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est iure iste labore adipisci blanditiis modi, fugit, vitae excepturi molestiae facilis quibusdam quis soluta reprehenderit doloremque, ut possimus obcaecati! Saepe, dolorum.